<div class="jumbotron text-center home-front">
    <h2>Welcome to MedMerica Pharmacy</h2> 
    <p class="lead">Trust, Service, Savings</p>
    <div class="row">
      <div class="col-md-4">
        <p class="info-col-text">Express refill (no login required)</p>
        <a style="cursor:pointer;" class="btn btn-warning btn-transparent">Refill Now</a>
      </div>
      <div class="col-md-4">
        <p class="info-col-text">
          Transfer a refill switch a refill from your pharmacy to MedMerica. Just give us your info and we'll do all the work.
        </p>
        <a style="cursor:pointer;" class="btn btn-warning btn-transparent">Transfer Now</a>
      </div>
      <div class="col-md-4">
        <p class="info-col-text">
          Send a new prescription. Just Tell your doctor to e-prescribe to MedMe. Any doctor can send a prescription to us.
        </p>
        <a style="cursor:pointer;" class="btn btn-warning btn-transparent">Learn More</a>
      </div>
    </div>
</div>